* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #fdfdfd;
}


nav {
    width: 100%;
    background: grey;
    color: white;
    font-size: 2em;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    padding: 0px 160px;
}

    nav a {
        padding: 20px;
    }

    nav a:hover {
        background: darkgray;
    }

img:not(.thumbnail) {
    margin: 50px 0;
    width: 100%;
    height: 50vh;
}

.thumbnail {
    margin: 50px 0px 50px 0px;
}

.banner {
    margin: 50px 0px;
}
